/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
}

/* Navigation Styles */
.navigation {
    background-color: #3f51b5;
    padding: 10px 0;
    text-align: center;
}

.navBtn {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    margin: 0 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navBtn:hover {
    background-color: #303f9f;
}

/* Button Styles */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #4caf50;
    color: white;
}

.btn-primary:hover {
    background-color: #45a049;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

/* Random List Styles */
.random-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
        background-color: #d3d1d1;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        padding: 20px;
}

.student-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #3f51b5;
}

/* Image Container Styles */
.image-container {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin: 20px 0;
    background-color: #61749d;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
}

.sliding-images {
    display: flex;
    position: absolute;
    transition: transform 0.5s ease;
    gap:10px;
}

/* Modal Styles */
.modal-content {
    border-radius: 8px;
}

.modal-header {
    background-color: #3f51b5;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.modal-title {
    font-weight: bold;
}

/* Card Styles */
.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .navigation {
        flex-direction: column;
    }

    .navBtn {
        display: block;
        margin: 5px 0;
    }

    .student-image {
        width: 80px;
        height: 80px;
    }
}