

button[type="submit"] {
  background: var(--primary-color);
  padding: 10px;
  color: cornflowerblue;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button[type="submit"]:hover {
  background-color: darken(var(--primary-color), 10%);
  box-shadow: 0 0 10px 5px hsla(204, 70%, 53%, 0.3);
}

.form-container{
        background: rgba(0, 0, 0, .8);
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        max-width: 400px;
        width: 100%;
        color: white;
        border: #039be5 2px solid;
        position: relative;
}

.Wrapper{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.input{
margin-bottom: 15px;
margin-top: 15px;
}
input[type="text"]{
width:100%;
}
input[type="number"]{
    width:15%;
    background: gray;
    color: white;
}

a{
cursor:pointer;
}
button{
cursor:pointer;
}

input[type="text"]{
    border: none;
    color: white;
    border-bottom: 1.5px solid;
    background-color:transparent;
    font-size: 15px;
    padding: 5px;
    margin-top: 6px;
}
textarea{
    border: none;
    color: white;
    border-bottom: 1.5px solid;
    background-color:transparent;
}
.gradient-custom {
/* fallback for old browsers */
background: #f6d365;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}
.modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        align-items: center;
        justify-content: center;
    }

    .modal:target {
        display: flex;
    }

    .modal-content {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        width:50%;
    }

    .modal-buttons {
        margin-top: 20px;
    }

    .modal-buttons a {
        margin: 0 10px;
        text-decoration: none;
    }





