<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>White Board</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/clock.css}">
  <style>
        #canvas {
            border: 1px solid #000;
        }
        .tools {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
<div class="navigation">
  <a class="navBtn" id="whiteBoard" th:href="@{/home}">Home</a>
  <a class="navBtn" id="home" th:href="@{/whiteBoard}">White Board</a>
  <a class="navBtn" id="clock" th:href="@{/clock}">Clock</a>
  <a class="navBtn" id="random" th:href="@{/students/random}">Random Student</a>
  <a class="navBtn" id="studentList" th:href="@{/students}">Student List</a>
</div>
<div class="container">
  <h1>White Board</h1>
  <div class="tools">
    <button id="drawBtn" class="btn btn-primary">Drawing</button>
    <button id="typeBtn" class="btn btn-primary">Typing</button>
    <button id="eraseBtn" class="btn btn-primary">Removing</button>
    <button id="clearBtn" class="btn btn-primary">Remove All</button>
  </div>
  <div style="position: relative;">
    <canvas id="canvas" width="800" height="600"></canvas>
  </div>
</div>

<script th:src="@{/js/whiteBoard.js}"></script>
</body>
</html>