<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>White Board</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/whiteBoard.css}">
  <link rel="stylesheet" th:href="@{/css/clock.css}">
</head>
<body>
<div class="navigation">
  <a class="navBtn" id="whiteBoard" th:href="@{/home}">Home</a>
  <a class="navBtn" id="home" th:href="@{/whiteBoard}">White Board</a>
  <a class="navBtn" id="clock" th:href="@{/clock}">Clock</a>
  <a class="navBtn" id="random" th:href="@{/students/random}">Random Student</a>
  <a class="navBtn" id="studentList" th:href="@{/students}">Student List</a>
</div>
<div class="container">
  <h1>White Board</h1>
  <div class="tools">
    <button id="drawBtn" class="btn btn-primary">Drawing</button>
    <button id="typeBtn" class="btn btn-primary">Typing</button>
    <button id="eraseBtn" class="btn btn-primary">Removing</button>
    <button id="clearBtn" class="btn btn-primary">Remove All</button>
    <button id="timerBtn" class="btn btn-primary">Timer</button>
  </div>
  <div style="position: relative;">
    <canvas id="canvas" width="800" height="600"></canvas>
  </div>
</div>

<!-- Clock Popup -->
<div id="clockPopup" class="clock-popup">
  <div class="button-mode">
    <button id="countdownbtn">Count Down</button>
    <button id="timerbtn">Timer</button>
  </div>
  <div class="timer-box" style="width: 100%; margin-top:100px;">
    <div class="controls" style="position: absolute; top: 20px; display: flex; gap: 0; left: -10px;">
      <button id="resetBtn">Reset</button>
      <button id="startBtn">Start</button>
      <button id="stopBtn">Stop</button>
    </div>
    <div class="display" id="display">00:00</div>
  </div>
  <input type="text" id="timeInput" placeholder="Enter time (mm:ss)">
</div>

<script th:src="@{/js/whiteBoard.js}"></script>
<script th:src="@{/js/clock.js}"></script>
</body>
</html>